In [1]:
import pandas as pd
import numpy as np

In [7]:
# TIMES
rng = pd.date_range('2016 Jul 1', end = '2016 Jul 25', freq = '8H', tz="Asia/Hong_Kong")
rng[0]

Timestamp('2016-07-01 10:15:00+0800', tz='Asia/Hong_Kong', freq='8H')

In [ ]:
# Which of these formats DON'T work?
 '1/7/2016'

In [ ]:
# Is '7/1/2016 in January or July?  
"July"

In [ ]:
# What is the class of an individual object held in the date_range?
"timestamp"

In [ ]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

In [ ]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

In [ ]:
# Or even more...
pd.Timestamp('2016-07-10 10:15')

In [ ]:
# How much detail can you add?
"down to ten nanoseconds"

In [15]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2016-07-10 10:15')
t.quarter
t.dayofweek
t.week
t.is_quarter_end
t = pd.Timestamp('2016-07-10 10:15 PM')
t

Timestamp('2016-07-10 22:15:00')

In [27]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [ ]:
# What's that extra info above? How does it get set?
"the type of period"

In [28]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [29]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [30]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [39]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [ ]:
# What's the most detailed Period you can get?
"the second"

In [ ]:
# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above
"period_range"

In [23]:
# TIME OFFSETS
pd.Timedelta('15 ns')

Timedelta('0 days 00:00:00.000000')

In [26]:
rng+pd.Timedelta('1 day')

DatetimeIndex(['2016-07-02 10:15:00+08:00', '2016-07-02 18:15:00+08:00',
               '2016-07-03 02:15:00+08:00', '2016-07-03 10:15:00+08:00',
               '2016-07-03 18:15:00+08:00', '2016-07-04 02:15:00+08:00',
               '2016-07-04 10:15:00+08:00', '2016-07-04 18:15:00+08:00',
               '2016-07-05 02:15:00+08:00', '2016-07-05 10:15:00+08:00',
               '2016-07-05 18:15:00+08:00', '2016-07-06 02:15:00+08:00',
               '2016-07-06 10:15:00+08:00', '2016-07-06 18:15:00+08:00',
               '2016-07-07 02:15:00+08:00', '2016-07-07 10:15:00+08:00',
               '2016-07-07 18:15:00+08:00', '2016-07-08 02:15:00+08:00',
               '2016-07-08 10:15:00+08:00', '2016-07-08 18:15:00+08:00',
               '2016-07-09 02:15:00+08:00', '2016-07-09 10:15:00+08:00',
               '2016-07-09 18:15:00+08:00', '2016-07-10 02:15:00+08:00',
               '2016-07-10 10:15:00+08:00', '2016-07-10 18:15:00+08:00',
               '2016-07-11 02:15:00+08:00', '2016-07-11 10:15:00+08:00',
               '2016-07-11 18:15:00+08:00', '2016-07-12 02:15:00+08:00',
               '2016-07-12 10:15:00+08:00', '2016-07-12 18:15:00+08:00',
               '2016-07-13 02:15:00+08:00', '2016-07-13 10:15:00+08:00',
               '2016-07-13 18:15:00+08:00', '2016-07-14 02:15:00+08:00',
               '2016-07-14 10:15:00+08:00', '2016-07-14 18:15:00+08:00',
               '2016-07-15 02:15:00+08:00', '2016-07-15 10:15:00+08:00',
               '2016-07-15 18:15:00+08:00', '2016-07-16 02:15:00+08:00',
               '2016-07-16 10:15:00+08:00', '2016-07-16 18:15:00+08:00',
               '2016-07-17 02:15:00+08:00', '2016-07-17 10:15:00+08:00',
               '2016-07-17 18:15:00+08:00', '2016-07-18 02:15:00+08:00',
               '2016-07-18 10:15:00+08:00', '2016-07-18 18:15:00+08:00',
               '2016-07-19 02:15:00+08:00', '2016-07-19 10:15:00+08:00',
               '2016-07-19 18:15:00+08:00', '2016-07-20 02:15:00+08:00',
               '2016-07-20 10:15:00+08:00', '2016-07-20 18:15:00+08:00',
               '2016-07-21 02:15:00+08:00', '2016-07-21 10:15:00+08:00',
               '2016-07-21 18:15:00+08:00', '2016-07-22 02:15:00+08:00',
               '2016-07-22 10:15:00+08:00', '2016-07-22 18:15:00+08:00',
               '2016-07-23 02:15:00+08:00', '2016-07-23 10:15:00+08:00',
               '2016-07-23 18:15:00+08:00', '2016-07-24 02:15:00+08:00',
               '2016-07-24 10:15:00+08:00', '2016-07-24 18:15:00+08:00',
               '2016-07-25 02:15:00+08:00', '2016-07-25 10:15:00+08:00',
               '2016-07-25 18:15:00+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='8H')

In [40]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [41]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [42]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [43]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [44]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [45]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [46]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [47]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [49]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases
p2 = pd.period_range('2016-01', freq = 'M', periods = 10)
p2

PeriodIndex(['2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
             '2016-07', '2016-08', '2016-09', '2016-10'],
            dtype='period[M]', freq='M')

In [50]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int32

In [33]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01    1.115359
2016-02   -1.700792
2016-03    0.975053
Freq: M, dtype: float64

In [34]:
# What type is the index for ts?
type(ts.index)

pandas.core.indexes.period.PeriodIndex

In [51]:
# Experiment with various indices
# Hint: does ts['2016'] work? 
ts['2016']

2016-01    1.115359
2016-02   -1.700792
2016-03    0.975053
Freq: M, dtype: float64

In [63]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(50), pd.date_range('07-10-16 8:00', periods = 50, freq = 'H'))
tsperiod=ts.to_period()

In [64]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00     0
2016-07-10 09:00     1
2016-07-10 10:00     2
2016-07-10 11:00     3
2016-07-10 12:00     4
2016-07-10 13:00     5
2016-07-10 14:00     6
2016-07-10 15:00     7
2016-07-10 16:00     8
2016-07-10 17:00     9
2016-07-10 18:00    10
2016-07-10 19:00    11
2016-07-10 20:00    12
2016-07-10 21:00    13
2016-07-10 22:00    14
2016-07-10 23:00    15
2016-07-11 00:00    16
2016-07-11 01:00    17
2016-07-11 02:00    18
2016-07-11 03:00    19
2016-07-11 04:00    20
2016-07-11 05:00    21
2016-07-11 06:00    22
2016-07-11 07:00    23
2016-07-11 08:00    24
2016-07-11 09:00    25
2016-07-11 10:00    26
2016-07-11 11:00    27
2016-07-11 12:00    28
2016-07-11 13:00    29
2016-07-11 14:00    30
2016-07-11 15:00    31
2016-07-11 16:00    32
2016-07-11 17:00    33
2016-07-11 18:00    34
2016-07-11 19:00    35
2016-07-11 20:00    36
2016-07-11 21:00    37
2016-07-11 22:00    38
2016-07-11 23:00    39
2016-07-12 00:00    40
2016-07-12 01:00    41
2016-07-12 02:00    42
2016-07-12 03:00    43
2016-07-12 04:00    44
2016-07-12 05:00    45
2016-07-12 06:00    46
2016-07-12 07:00    47
2016-07-12 08:00    48
2016-07-12 09:00    49
Freq: H, dtype: int32

In [57]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int32

In [58]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int32

In [66]:
ts_period['2016-07-10 08:00':'2016-07-11 13:00']

2016-07-10 08:00     0
2016-07-10 09:00     1
2016-07-10 10:00     2
2016-07-10 11:00     3
2016-07-10 12:00     4
2016-07-10 13:00     5
2016-07-10 14:00     6
2016-07-10 15:00     7
2016-07-10 16:00     8
2016-07-10 17:00     9
2016-07-10 18:00    10
2016-07-10 19:00    11
2016-07-10 20:00    12
2016-07-10 21:00    13
2016-07-10 22:00    14
2016-07-10 23:00    15
2016-07-11 00:00    16
2016-07-11 01:00    17
2016-07-11 02:00    18
2016-07-11 03:00    19
2016-07-11 04:00    20
2016-07-11 05:00    21
2016-07-11 06:00    22
2016-07-11 07:00    23
2016-07-11 08:00    24
2016-07-11 09:00    25
2016-07-11 10:00    26
2016-07-11 11:00    27
2016-07-11 12:00    28
2016-07-11 13:00    29
Freq: H, dtype: int32

In [68]:
ts_period["Jul 11 2016":]

2016-07-11 00:00    16
2016-07-11 01:00    17
2016-07-11 02:00    18
2016-07-11 03:00    19
2016-07-11 04:00    20
2016-07-11 05:00    21
2016-07-11 06:00    22
2016-07-11 07:00    23
2016-07-11 08:00    24
2016-07-11 09:00    25
2016-07-11 10:00    26
2016-07-11 11:00    27
2016-07-11 12:00    28
2016-07-11 13:00    29
2016-07-11 14:00    30
2016-07-11 15:00    31
2016-07-11 16:00    32
2016-07-11 17:00    33
2016-07-11 18:00    34
2016-07-11 19:00    35
2016-07-11 20:00    36
2016-07-11 21:00    37
2016-07-11 22:00    38
2016-07-11 23:00    39
2016-07-12 00:00    40
2016-07-12 01:00    41
2016-07-12 02:00    42
2016-07-12 03:00    43
2016-07-12 04:00    44
2016-07-12 05:00    45
2016-07-12 06:00    46
2016-07-12 07:00    47
2016-07-12 08:00    48
2016-07-12 09:00    49
Freq: H, dtype: int32

In [71]:
pd.to_datetime("7/3/2013", dayfirst=True)

Timestamp('2013-03-07 00:00:00')